/** Basic Header and Breadcrumb **/
html, body {
  position: relative;
  font-family: verdana !important;
  background-color: #eceff1 !important;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}



.table th {
	border-bottom: 2px solid #15305B !important;
	color: #15305B;
}

.breadcrumb {
	background-color: #6FBFE0 !important;
	border-radius: 0 !important;
}

ol > li > a {
	/*color:#15305B*/
	color:   white; /*#EA5B23;*/
}
ol > li > a:hover {
	text-decoration: none;
	/*color: #EA5B23;*/
	color:   white
}
ol > li {
	text-decoration: none;
	/*color: #15305B !important;*/
	/*color: #EA5B23;*/
	color:   white !important;
}

.breadcrumb > li + li:before {
	/*color: #15305B !important;	*/
	color:   white !important;
}

.navbar{
	background-color: #15305B;
	border-radius: 0 !important;	
}

.fixed-bottom {

}
.navbar-brand {
	color: white;
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
	color: white;
}

.navbar.navbar-entry {
	vertical-align: middle;
}


/** Top Info **/
.part-name-area{
	padding-bottom: 10px;
	text-align: center;
	border-bottom: solid 1px #15305b;
	color: #15305b;
	margin-bottom: 10px;
}

.active-lecture-area{
	display: block;
	margin: auto;
	width: 100%;
}

.area-label {
	text-align: center;
	margin: 10px 0 10px 0;
	font-size: 30px;
	color: #15305b;
}

.end-area {
	text-align: right;
}

#end-btn {
	font-size: 25px;
}


/** Questions **/
.question-area {
	color: #15305b;
	font-size: 30px;
	margin-left: 1%;
	width: 70%;
	display: inline-block;
}


.question-list {
	border-collapse: separate;
	border-spacing: 0 10px;
	margin: auto;
	width: 100%;
}

.question-entry {
	background-color: white;
}

.question-entry:hover{
	cursor:pointer;
	background-color: #eff7fb;
}
.question-entry td {
	padding: 8px 8px;
	border-style: solid;
}
.q-txt { 
	border-radius: 5px 0 0 5px; 
	border-width: 1px 1px 1px 1px;
	border-color: #dddddd;
	width: 98%;
}

.q-del-btn { 
	border-color: #dddddd;
	border-radius: 0 5px 5px 0; 
	border-width: 1px 1px 1px 0;
	width: 2%;
	color: #c0c0c0;
}
.q-details {
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	color: #777;
}
.q-del-btn:hover { 
	background-color: #d0d0d0;
	color: #484848;
	cursor: pointer;
}
.q-answered-txt {
	background-color: #0084d9;
	color: white;
}
.q-answered-del {
	border-color: #dddddd;
	border-radius: 0 5px 5px 0; 
	border-width: 1px 1px 1px 0;
	background-color: #0084d9;
}
.show-more-btn {
	margin: auto;
	width: 100%;
	color: #15305b;
	visibility: "hidden";
}

/** Extras **/
.extra-area{
	margin-left: 3%;
	width: 25%;
	display: inline-block;
	vertical-align: top;
}

.sel-quiz-area{
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sel-quiz-label{
	margin: 0px auto 10px auto;
	padding: 10px 20px;
	font-size: 25px;
	color: #15305b;
	border-bottom: solid 1px #dddddd;
}

.sel-quiz-form{
	padding: 5px 10px 5px 10px;
	margin-bottom:0;
}

#sel-quiz-opt{
	margin-bottom: 10px;
}

#sel-quiz-min{
	display: inline-block;
	width: 75px;
}

#sel-quiz-sec{
	display: inline-block;
	width: 75px;
}

#start-quiz{
	margin-top: 0;
	padding: 10px;
	font-size: 25px;
	color: white;
	background-color: #5cb85c;
}

#start-quiz:hover{
	cursor: pointer;
	background-color: #449d44;
}

#start-quiz:active{
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #398339;
}

.tag-area{
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tag-label {
	margin: 0px auto;
	padding: 10px 20px;
	font-size: 20px;
	color: white;
	background-color:#15305b;
}

.tag-entry {
	border-bottom: solid 1px #ddd;
	font-size: 20px;
	padding: 10px 20px;
	margin: 0px auto;
}

.tag-entry:hover {
	background-color: #eff7fb;
	cursor: pointer;
}

.selected-tag {
	background-color: #0084d9;
}
.selected-tag a{
	color: white;
}
.selected-tag:hover{
	background-color: #49b8ff;
}

/** Quiz **/
.counter{
	margin-top: 5%;
	text-align: center;
}
#countdown{
	font-size: 75px;
}

.current-quiz-qtn{
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.quiz-label{
	margin: 0px;
	padding: 10px 30px 10px 30px;
	background-color: #15305b;
	color: white;
}

.quiz-question{
	padding: 20px;
	border-bottom: solid 1px #ddd;
	padding: 0;
}

.quiz-question-num{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 5%;
	padding: 5px;
	font-size: 40px;
}

.quiz-question-ans{
	display: inline-block;
	width: 94%;
	padding: 10px;
	border-left: solid 1px #ddd;
}

.quiz-question-ans h1{
	margin: 5px 0px 5px 0px;
	font-size: 30px;
}

.quiz-extra-area{
	margin-bottom: 10px;
}

.quiz-info{
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: inline-block;
	vertical-align: top;
	margin-right: 1%;
}

.quiz-info h1{
	margin: 0;
}

.quiz-info-label{
	background-color: #15305b;
	color: white;
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 10px;
	font-size: 20px;
}

.quiz-info-details{
	vertical-align: top;
	display: inline-block;
	width: 48%;
	padding: 10px;
	font-size: 40px;
}
