/* Navigation bar styles */

.navbar-brand {
	font-family: "Georgia", sans-serif;
	color: white;
}

.listen-navbar {
	background-color: #266DD3;
	font-size: 20px;
}

.navbar-header a {
	font-size: 24px;
}

.listen-navbar ul li a {
	color: white;
}



/* Homepage vertical tabs styles */

.listen-vert-nav li {
	float: none;
}

.listen-vert-tabs-title {
	margin:auto;
	font-size: 24px;
	text-align: center;
	padding-left: 10px;
}

.listen-vert-tab-box{
	padding-right: 0 !important;
}

.listen-vert-tab-box ul li{
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid;
}

.listen-vert-tab-box ul li:hover{
	background-color: #d8d8d8;   /*light gray*/
}

.listen-vert-tab-content {
	padding: 0 !important;
}

.listen-active-tab {
	background-color: #173753;  /*dark blue*/
	color: #f2f2f2; /* white */
}

.listen-active-tab:hover {
	background-color: #1D476B !important;  /*dark blue*/
}
.listen-inactive-tab {
	background-color: #f2f2f2; /* gray */
}

.listen-active-content {
}

.listen-inactive-content {
	display: none;
}

.tabs-course-code {
	font-family: "Helvetica", serif;
	font-weight: normal;
	font-size: 24px;
}

.tabs-course-title {
	font-family: "Helvetica", serif;
	font-weight: normal;
}

/* General Styles */
button {
	background-color: #cacaca;
	border-color: #eaeaea;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	padding: 5px 10px;
}

.text_box {
	font-size: 25px;
	font-family: verdana;
}

.labels {
	text-align:left; 
	width: 50px;
	font-size: 25px;
	font-family: verdana;
}

.submit_btn {
	background-color: green;
	border-color: #74ca74;
	font-size: 25px;
	color: white;
	display: block;
	margin: auto;
}
.add_btn {
	background-color: #0099ff; 
	border-color: #9cd8ff;
	color:white;
	padding: 3px 10px;
	font-size: 25px;
}


/* Add Lecture Styles */

/* Miscellaneous */
a:link, a:visited, a:hover, a:active {
	text-decoration:  none !important;
} 
