/* Navigation bar styles */

.navbar-brand {
	font-family: "Georgia", sans-serif;
	color: white;
}

.listen-navbar {
	background-color: #266DD3;
	font-size: 20px;
}

.navbar-header a {
	font-size: 24px;
}

.listen-navbar ul li a {
	color: white;
}



/* Homepage vertical tabs styles */

.listen-vert-nav li {
	float: none;
}

.listen-vert-tabs-title {
	margin:auto;
	font-size: 24px;
	text-align: center;
	padding-left: 10px;
}

.listen-vert-tab-box{
	padding-right: 0 !important;
}

.listen-vert-tab-box ul li{
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid;
}

.listen-vert-tab-box ul li:hover{
	background-color: #d8d8d8;   /*light gray*/
}

.listen-vert-tab-content {
	padding: 0 !important;
}

.listen-active-tab {
	background-color: #173753;  /*dark blue*/
	color: #f2f2f2; /* white */
}

.listen-active-tab:hover {
	background-color: #1D476B !important;  /*dark blue*/
}
.listen-inactive-tab {
	background-color: #f2f2f2; /* gray */
}

.listen-active-content {
}

.listen-inactive-content {
	display: none;
}

.tabs-course-code {
	font-family: "Helvetica", serif;
	font-weight: normal;
	font-size: 24px;
}

.tabs-course-title {
	font-family: "Helvetica", serif;
	font-weight: normal;
}

.topic {
	width: 250px;
	margin: 5px auto;
	background-color: white;
	border-style: solid;
	border-color: #266DD3;
	border-width: 2px;
	border-radius: 3px;
	color: black;
	padding: 5px 10px;
	font-size: 20px;
}

.delete {
	border-radius: 5px;
	border-style: solid;
	background-color: red;
	border-color: white;
	color: white;
	padding: 5px 12px;
	font-size: 15px;
}

.topic_name {
	display: inline-block;
	width: 190px;
}

.topic_btn {
	display: inline-block;
	width: 30px;
}

/* Add lecture page*/

.lecture_add_input_title{
	font-family: "Helvetica", serif;
	font-size: 30px;
	text-align: left;
}

.lecture_add_text_input{
	height: 30px;
}

.lecture_add_div{
	margin: 80px auto 0px auto;
	text-align: center;
}

.lecture_add_button{
	background-color: #0099ff;
	color: white;
	border-radius: 10px;
	font-size: 24px; 
}

.lecture_start_button{
	background-color: green;
	color: white;
	font-family: "Helvetica", serif;
	height: 80px;
	width: 250px;
	font-size: 30px;
	text-align: center;
	border-radius: 10px;
}

.lecture_start_div{
	margin: 10px auto 0px auto;
	text-align: center;
}

/* Miscellaneous */
a:link, a:visited, a:hover, a:active {
  text-decoration:  none !important;
} 
