/* Navigation bar styles */

.navbar-brand {
	font-family: "Georgia", sans-serif;
	color: white;
}

.listen-navbar {
	background-color: #266DD3;
	font-size: 20px;
}

.navbar-header a {
	font-size: 24px;
}

.listen-navbar ul li a {
	color: white;
}

/* Homepage vertical tabs styles */

.listen-vert-nav li {
	float: none;
}

.listen-vert-tabs-title {
	margin:auto;
	font-size: 24px;
	text-align: center;
	padding-left: 10px;
}

.listen-vert-tab-box{
	padding-right: 0 !important;
}

.listen-vert-tab-box ul li{
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 1px solid;
}

.listen-vert-tab-box ul li:hover{
	background-color: #d8d8d8;   /*light gray*/
}

.listen-vert-tab-content {
	padding: 0 !important;
}

.listen-active-tab {
	background-color: #173753;  /*dark blue*/
	color: #f2f2f2; /* white */
}

.listen-active-tab:hover {
	background-color: #1D476B !important;  /*dark blue*/
}
.listen-inactive-tab {
	background-color: #f2f2f2; /* gray */
}

.listen-active-content {
}

.listen-inactive-content {
	display: none;
}

.tabs-course-code {
	font-family: "Helvetica", serif;
	font-weight: normal;
	font-size: 24px;
}

.tabs-course-title {
	font-family: "Helvetica", serif;
	font-weight: normal;
}

/* Add lecture page*/
.lecture_add_title{
	font-family: "Helvetica", serif;
	font-size: 34px;
	text-align: left;
	position: absolute;
	top: 75px;
	left: 150;
}

.lecture_add_input_title{
	font-family: "Helvetica", serif;
	font-size: 30px;
	text-align: left;
	vertical-align: top;
}

.lecture_add_text_input{
	height: 30px;
}

.lecture_add_div{
	position: relative;
	top: 100px;
	left: -200px;
	text-align: left;
	text-align: center;
}

.lecture_add_button{
	background-color: #0099ff;
	color: white;
	width: 35px;
	border-radius: 10px;
	font-size: 24px; 
}

.lecture_start_button{
	background-color: green;
	color: white;
	font-family: "Helvetica", serif;
	height: 80px;
	width: 250px;
	font-size: 30px;
	text-align: center;
	border-radius: 10px;
}

.lecture_start_div{
	position: absolute;
	top: 185px;
	left: 650px;
	text-align: left;
	width: 250px;
}

.added_topic{
	list-style-type: none;
	font-size: 20px;
	font-family: "Helvetica", serif;
	text-align: left;
}

/* Common buttons */
.help_btn{
	text-align: center;
	background-color: #6d43d8;
	color: white;
	border-radius: 30px;
	height: 30px;
	width: 30px;
	font-size: 20px;
}

.add_btn{
	text-align: center;
  background-color: #0099ff;
	color: white;
	border-radius: 10px;
	height: 35px;
	width: 30px;
	font-size: 20px;
}

.remove_btn{
	text-align: center;
	background-color: #ff5454;
	color: white;
	border-radius: 30px;
	height: 30px;
	width: 30px;
	font-size: 20px;
}

.delete {
	border-style: none;
	background-color: red;
	padding: 5px 12px;
	border-radius: 5px;
	color: white;
	font-size: 15px;
}

.topic_name {
	font-size: 18px;
	height: 30px;
	border-style: none;
	background-color: #ececec;
	border-radius: 3px;
	color: black;
	width: 165px;
	padding: 2px 5px;
	display: inline-block;
	vertical-align: bottom;
}

/* Miscellaneous */
a:link, a:visited, a:hover, a:active {
  text-decoration:  none !important;
