.progress {
    position: absolute;
    top: 0px;
    left: 0px;
	height: 5px;
    background: #fff;
    width: 100%;
    z-index: 1001;
}

.progress-bar {
    background: #333;
    position: absolute;
	height: 5px;
    z-index: 1002;
}

#progress-bar1{
	-webkit-animation: loading1 2s infinite;
    animation: loading1 2s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

#progress-bar2{
	-webkit-animation: loading2 2s infinite;
    animation: loading2 2s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes loading1 {
    0%   {margin-left: 0%;}
    50%  {margin-left: 50%; width: 50%;}
    60%  {margin-left: 60%; width: 40%;}
    70%  {margin-left: 70%; width: 30%;}
    80%  {margin-left: 80%; width: 20%;}
    90%  {margin-left: 90%; width: 10%;}
    100% {margin-left: 100%; width: 0%;}
}

@keyframes loading1 {
    0%   {margin-left: 0%;}
    50%  {margin-left: 50%; width: 50%;}
    60%  {margin-left: 60%; width: 40%;}
    70%  {margin-left: 70%; width: 30%;}
    80%  {margin-left: 80%; width: 20%;}
    90%  {margin-left: 90%; width: 10%;}
    100% {margin-left: 100%; width: 0%;}
}

@-webkit-keyframes loading2 {
    0%   {margin-left: -100%;}
    100% {margin-left: 0%;}
}

@keyframes loading2 {
    0%   {margin-left: -100%;}
    100% {margin-left: 0%;}
}