* Basic Header and Breadcrumb **/
html, body {
  position: relative;
  font-family: Helvetica !important;
  background-color: #eceff1 !important;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}


.table th {
	border-bottom: 2px solid #15305B !important;
	color: #15305B;
}

.breadcrumb {
	background-color: #6FBFE0 !important;
	border-radius: 0 !important;
}

ol > li > a {
	color:#15305B
}
ol > li > a:hover {
	text-decoration: none;
}
ol > li {
	text-decoration: none;
	color: #15305B !important;
}

.breadcrumb > li + li:before {
	color: #15305B !important;	
}

.navbar{
	background-color: #15305B;
	border-radius: 0;	
}

.fixed-bottom {

}
.navbar-brand {
	color: white;
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none;
	color: white;
}

.navbar.navbar-entry {
	vertical-align: middle;
}

/** Top Info **/
.part-name-area{
	padding-bottom: 10px;
	text-align: center;
	border-bottom: solid 1px #15305b;
	color: #15305b;
	margin-bottom: 10px;
}

.active-lecture-area{
	display: block;
	margin: auto;
	width: 100%;
}

.area-label {
	text-align: center;
	margin: 10px 0 10px 0;
	font-size: 30px;
	color: #15305b;
}

.accessed-area{
	color: #15305b;
	margin: 5px auto;
	padding: 9px 0;
	width: 30%;
	text-align: center;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#accessed-number{
	margin: 0px;
	padding: 0px 0px;
}

/* Question Explorer */

.question-explorer {
	/*background: rgba(0,0,0,.1);*/
	background: #fff;
	border: 5px solid #eee;
	overflow: hidden;
	margin-bottom: 40px;
	/*border-radius: 5px;*/
}
	.actions {
		padding: 20px 10px;
		background: #fff;
		/*border-bottom: 1px solid rgba(0,0,0,.1);*/
	}
		.action {
			margin-left: 10px;
			margin-right: 10px;
		}

	.tags {
		padding: 5px 10px;
		background: #eee;
		/*box-shadow: 0px 3px 3px rgba(0,0,0,.3);*/
	}
		.tags:before {
			content: attr(data-legend) ':';
			text-transform: uppercase;
			margin-right: 10px;
			font-size: .7em;
			font-weight: bold;
			/*display: block;*/
		}

		.tag {
			display: inline-block;
			padding: 5px 15px;
			text-transform: uppercase;
			font-size: .7em;
			background: #ddd;
			color: #333;
			font-weight: bold;
			border-radius: 2px;
		}
		.tags .tag {
			cursor: pointer;
		}

		.tag.selected {
			color: #eee;
			background: #777;
		}

	.questions {
		margin: 10px;
	}
		.question {
			padding: 10px;
			border-bottom: 1px solid #eee;
		}
			.question:last-of-type {
				border-bottom: none;
			}
			.question .text {
				padding: 10px;
				margin-bottom: 5px;
			}
			.question button[role=checkbox] {
				margin-right: 10px;
			}

	button[role=checkbox]:focus {
		outline: unset;
		border-color: #07e;
		box-shadow: 0 0 0 3px #99C6F3;
	}
	button[role=checkbox] {
		width: 20px;
		height: 20px;
		background: #fff;
		border-radius: 2px;
		border: 1px solid #ddd;
		padding: 0px;
		vertical-align: middle;
	}
		button[role=checkbox][aria-checked=true] {
			background: #07e;
			border-color: #07e;
		}
		button[role=checkbox][aria-checked=mixed] {
			background: #07e;
			border-color: #07e;
		}